/* Home.css */

.home {
    background-color: #f7f7f7;
    padding: 50px 0;
    text-align: center;
  }
  
  .home-title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .home-description {
    font-size: 18px;
    color: #777;
  }
  